#nav-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    /* padding-left: 20px; */
}

#title-container {
    /* border: 1px solid red; */
    display: flex; 
    flex-direction: row;
    width: 50%; 
}

img {
    /* border: 1px solid red;  */
    height: 70px; 
    margin-right: 10px;
}

#link-container {
    /* border: 1px solid red;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%; 
}

.link-box{
    /* border: 1px solid green; */
    display: flex;
    margin: auto;
    width: 25%;
    height: 100%;
}

.link {
    /* border: 1px solid orange;   */
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin: auto;
    text-align: center;
}

.link:hover {
    color: darken("white", 50%); 
    font-size: 25px;
}

.link-box:nth-last-child(3) {
    /* text-align: left; */
    width: 35%;
}

.link-box:hover {
    background-color: #575757;
}