#nav-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-bottom: 1px solid black;
    /* padding-left: 20px; */
}

#title-container {
    /* border: 1px solid red; */
    display: flex; 
    flex-direction: row;
    width: 50%; 
}

img {
    /* border: 1px solid red;  */
    height: 70px; 
    margin-right: 10px;
}

#link-container {
    /* border: 1px solid red;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%; 
}

.borderRight {
    margin: auto;
    display: flex;
    height: 60%;
    width: 100%;
    border-right: 1px solid #373737;
}

.link-box{
    /* border: 1px solid green; */
    display: flex;
    margin: auto;
    width: 25%;
    height: 100%;
}

.menuTitle {
    font-size: 25px;
    color: white;
    font-family: Fira Sans;
    margin: auto;
}

.navLink {
    /* border: 1px solid orange;   */
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title {
    font-family: Fira Sans;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: auto;
}


.link-box:nth-last-child(3) {
    /* text-align: left; */
    width: 35%;
}

.link-box:hover {
    background-color: #373737;
}